{% extends 'base.html' %} {% block content %}
{% for message in
get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>Hey <strong>{{ name }},</strong> {{ message }}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}

<div class="container-fluid">
  <!--<h1>What's Your Name</h1>-->
{% if name %}
<h1> Users Added!</h1>
<br />
<div class="shadow p-3 mb-5 bg-body rounded">
<table class="table table-hover table-borderd table-stripped">
 {% for our_user in our_users %}
 <tr>
    <td>
  {{ our_user.id }} . 
   <a href="{{ url_for('update',id=our_user.id )}}">
    {{ our_user.firstname }}</a> 
    - {{ our_user.lastname }}  
    - {{ our_user.username }} 
    - {{ our_user.email }}
     -{{ our_user.favorite_color }}
     -{{ our_user.password_hash }}
     <a href="{{ url_for('delete', id=our_user.id)}}"> Delete</a> 
     </td>
  </tr>
   
  {% endfor %}
  </table>
</div>
{% else %}


<div class="card">
  <div class="card-body">
<h1 class="card-title text-center">User List:</h1>

  <form method="POST" action="/add_user">
      {{ form.hidden_tag() }}

       {{ form.firstname.label (class="form-label")}} 
       {{ form.firstname(class="form-control") }}
          <br />
          {{ form.lastname.label (class="form-label")}}
          {{ form.lastname(class="form-control") }}
          <br />
      {{ form.username.label (class="form-label")}} 
      {{ form.username(class="form-control") }}
      <br />
      {{ form.email.label (class="form-label") }} {{
      form.email(class="form-control") }}
       <br/>
      {{ form.favorite_color.label (class="form-label") }} 
      {{ form.favorite_color(class="form-control") }}
        <br/>
      {{ form.password_hash.label (class="form-label") }}
       {{ form.password_hash(class="form-control") }}
       <br/>
      {{ form.password_hash2.label (class="form-label") }}
       {{ form.password_hash2(class="form-control") }}

      <br />
      {{ form.submit(class="btn btn-secondary") }}
      <br /> <br />
       </div>
</div>
    </div>
  </form>
  <br /> <br />

<div class="container">
<div class="card">
  <div class="card-body"> 
<table class="table  table-hover table-bordered table-striped" >

 {% for our_user in our_users %}
 <tr>
<td>
  {{ our_user.id }} .  <a href="{{ url_for('update', id=our_user.id)}}">
    {{ our_user.firstname }}</a> 
    - {{ our_user.lastname }}  -
     - {{ our_user.username }}  
    - {{ our_user.email }} 
    - {{ our_user.favorite_color }} -
     PW: {{our_user.password_hash}} -
      <a href="{{ url_for('delete', id=our_user.id)}}"> Delete</a> 
<td/>
<td/>
</tr> 
  {% endfor %}
</table>
</div>
</div>

<br/>
{% endif %} {% endblock content %}
