  <div>
 {% extends 'base.html' %}
    {% block content %}
    {% for message in get_flashed_messages()  %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
 <p>Hey, {{ message }}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
    {% endfor %}

  <p>{{first_name }}</p>
  <p>{{ stuff|safe }}</p>
  <p>{{ seke | title }}</p>
  <h3>favorite Pizza:</h3>

  {% for topping in favorite_pizza %} {% if topping == 41 %} {{topping + 100}}
  <br />
  {% else %} {{ topping}} <br />
  {% endif %} {% endfor %}

  <br />
  {{ favorite_pizza.0 | title}} {% endblock content %}
</div>
