{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>Hey <strong>{{ name }},</strong> {{ message }}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %}

<!--<h1>What's Your Name</h1>-->
{% if name %}
<h1>Hello {{ name }}.</h1>
<br />
<img
  src="{{ url_for('static',
filename='images/fixx.jpg')}}"
  width="400"
/>
<br /><br />
<!--<p id="demo">This is the image</p>-->
{% else %}
<h1>What's Your Name?</h1>
<script src="{{ url_for('static',filename='javascript/myfile.js')}}"></script>
<br />
<form method="POST">
  <div class="container">
    {{ form.hidden_tag() }} {{ form.name.label (class="form-label")}} {{
    form.name(class="form-control") }}
    <br />
    {{form.photo(class="file") }}
    <br /><br />
    {{ form.submit(class="btn btn-secondary") }}
    <br /><br />
  </div>
</form>

{% endif %} {% endblock content %}
