{% extends "base.html" %} {% block content %}

{% for message in
get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>Hey <strong>{{ author }},</strong> {{ message }}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}

<div class="container">
<h1> Blog Posts...</h1>
<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
<div class="card">
  <div class="card-body">
<h2>{{post.title }}</h2>
<a href="#">{{ post.author }}</a><br/>
{{ post.slug }}<br/>
{{ post.date_posted }}<br/>

  {{ post.content }}
</div><br/>

  </div>
 <br/><br/>
    <a href="{{ url_for('edit_post',id=post.id)}}" class="btn btn-outline-info btn-small">
Edit Post
</a>

<a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-small">
Delete Post
</a>
<a href="{{ url_for('posts')}}"class="btn btn-outline-secondary btn-small">
  Back to Blog  </button></a>
<br/>
 </div>


{% endblock content %}